<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Manage Portal Only customers</title>
	<link rel="stylesheet" rel="preload" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" rel="preload" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<link rel="stylesheet" href="assets/style/style.css">
</head>
<body>
	
	<header>
		<div class="container">
			<ul class="nav nav-tabs nav-justified">
			  <li role="presentation" class="active"><a href="/getUsers">Get Users</a></li>
			  <li role="presentation"><a href="/convert">Convert to Atlassian</a></li>
			  <li role="presentation"><a href="#">Log Out</a></li>
			</ul>
		</div>	
	</header>
	<section class="row">
		<article class="container" style="margin-top: 30px">
			<table class="table table-hover">
				<thead>
					<th>Email Address</th>
					<th>Username</th>
					<th>Convert?</th>
				</thead>
				<tbody>
					{{#each users}}
					<tr>
						<td>{{emailAddress}}</td>
						<td>{{username}}</td>
						<td><input type="checkbox" value="{{emailAddress}} * {{username}}" data-email={{emailAddress}} data-username={{username}}></td>
					</tr>
					{{/each}}
				</tbody>
			</table>
			<!-- 
			pagination test
			<nav aria-label="Page navigation">
				<ul class="pagination">
					<li>
						<a href="#" aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
						</a>
					</li>
					{{#each pages}}
					<li><a href="{{url}}">{{number}}</a></li>
					{{/each}}					
					<li>
						<a href="#" aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
						</a>
					</li>
				</ul>
			</nav> -->
		</article>
	</section>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	<script src="assets/js/scripts.js"></script>
</body>
</html>